@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


body{
  background-image: url(./assets/img/imagem-quadra.2-rentex.jpg);
  margin: 0;
  padding: 0;
  font-family: 'Jua', sans-serif;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.navbar {
  background-color: #FDF6E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 10px;
  background-color: #FDF6E3;
}

.logo {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  background-color: #FDF6E3;
}

.brand-name {
  font-weight: normal;
  color: #351F19;
  background-color: #FDF6E3;
  font-size: 50px;
}

.right-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FDF6E3;
}

.right-section a {
  color: #351F19;
}

.right-section a:hover {
  color: transparent;
  background-image: linear-gradient(to right, #FFA103, #F46202);
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent; 
}

.about-link {
  text-decoration: none;
  color: #351F19;
  margin-right: 20px;
  background-color: #FDF6E3;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  cursor: pointer;
}

.logo-do-instagram{
  height: 25px;
  background-color: #FDF6E3;
  margin-right: 100px;
  padding-left: 10px;
  margin-top: 4px;
}

.rent-button {
  background: linear-gradient(to right, #FFA103, #F46202);
  color: #351F19;
  border: none;
  padding: 10px 20px;
  border-radius: 90px;
  cursor: pointer;
  font-weight: normal;
  font-size: 20px;
  width: 130px;
  height: 50px;
  margin-right: 20px;
}

.rent-button:hover {
  background: linear-gradient(to right, #FFFF00, #FFA500, #FF8C00);
  color: #FDF6E3;
  }

/*CARDS*/

.container-card {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
    justify-content: space-around; 
}

.card {
    overflow: hidden; 
    flex: 0 1 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px);
    border: none !important;
    border-radius: 50px; 
}

.card-image {
    width: 100%;
    height: 400px;
    display: block; 
    border-radius: 50px;
}



.container-info{
    display: flex;
}


.content {
    display: flex;
    align-items: center;
}



.text{
    text-align: center; 
}

/*FOOTER*/

.container-footer {
    position: f;
    display: flex;
    justify-content: center;
    margin-top: 20px;  
    overflow-x: hidden;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barra {
    height: 20px; 
    border-radius: 10px; 
}

.barra-lateral {
    width: 370px;
    height: 200px;
    background-color: #FDF6E3; 
    margin: 0 10px; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.barra-central {
    flex: 1;
    width: 1300px;
    height: 200px; 
    background-color: #FDF6E3; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.barra-central ul {
    padding-top: 40px;
    margin-left: 20px;
}

footer {
  margin-top: auto;
  height: 200px;
}

#quadra{
  color: #FDF6E3;
  width: 254px;
  font-size: 80px;
  margin-left: 200px;
  margin-top: 400px;
}

#rentButton {
  margin-left: 220px;
  width: 200px;
}