
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}

body{
  background-color: #22100C;
  color: #FDF6E3;
}

.navbar-container{
  background-color: #FDF6E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 10px;
  background-color: #FDF6E3;
}

.logo {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  background-color: #FDF6E3;
  border-radius: 50%;
}

.brand-name {
  font-weight: normal;
  color: #22100C;
  background-color: #FDF6E3;
  font-size: 50px;
}

.logo-do-instagram img{
  background-color: #FDF6E3;
  margin-right: 20px; /* Reduza a margem para alinhar melhor com os links */
  border: 2px solid blue;
}

.right-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FDF6E3;
}

.about-link {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  background-color: #FDF6E3;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  cursor: pointer;
}

.logo-do-instagram{
  height: 25px;
  background-color: #FDF6E3;
  margin-right: 100px;
  padding: -10px;
}

/*BOTÃO DE ALUGAR*/
.rent-button {
  background: linear-gradient(to right, #FFA103, #F46202);
  color: #22100C;
  border: none;
  padding: 10px 20px;
  border-radius: 90px;
  cursor: pointer;
  font-weight: normal;
  font-size: 20px;
  width: 130px;
  height: 50px;
  margin-right: 20px;
}

/*CARDS*/

.card-box-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 1px solid red;*/
  padding-top: 250px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-image{
  height: 400px;
  width: 300px;
  border-radius:  50px 50px / 50px 50px;
  margin-left: 40px;
  margin-right: 40px;
  transition: transform 0.3s ease;
}

.card-image:hover {
  transform: scale(1.1);
}

.categorias-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 1px solid yellow;*/
  padding-top: 15px;
  padding-left: 2px;
  padding-right: 2px;
}

.jogos{
  padding-left: 6px;
  font-size: 40px;
  color: #FDF6E3;
}

.bolas{
  padding-left: 2px;
  font-size: 40px;
  color: #FDF6E3;
}

.quadra{
  padding-right: 30px;
  font-size: 40px;
  color: #FDF6E3;
}

.toggle .toggle-left{
  color: #FDF6E3;
}

.circle-container {
  display: flex;
  align-items: center;
  padding: 2px 3em 0 3em;
}

.circle {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: #FDF6E3; 
  color: #22100C; 
  font-size: 40px; 
  line-height: 50px; 
  text-align: center;
  margin-right: 10px; 
}

.text {
  font-size: 40px; 
}


/*FOOTER*/

/*BARRA*/

.container-footer {
  display: flex;
  justify-content: center;
  margin-top: 2px; /* Espaçamento superior */
  overflow-x: hidden; /* Impede a rolagem lateral */
  margin-top: 60px;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.barra {
  height: 20px; /* Altura das barras */
  border-radius: 10px; /* Raio de arredondamento */
}

.barra-lateral {
  width: 441px; /* Largura das barras laterais */
  height: 200px;
  background-color: #FDF6E3; /* Cor das barras laterais */
  margin: 0 10px; /* Espaçamento entre as barras laterais e a barra central */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.barra-central {
  flex: 1; /* A barra central ocupa todo o espaço restante */
  width: 1300px;
  height: 200px;
  background-color: #FDF6E3; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.barra-central ul{
  padding-top: 40px;
  margin-left: 20px;
}

/*CATÁLOGO*/

/*.title{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.title h1{
  color: #FDF6E3;
  align-items: center;

}

.container-catalogo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  border-radius: 10px;
}

.card{
  border: 2px solid blue;
  margin-right: 20px;
  width: calc(33.33% - 10px);
  border-radius: 50%;
}

  .card:nth-child(3n){
  margin-right: 0
  }*/
